@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 672px;

  @media (max-width: 640px) {
    padding-inline: 0;
  }
}

@utility inside-container {
  padding: 1.75rem 1.25rem;
}

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-secondary: 'Freeman', sans-serif;
  --color-primary: rgb(115 92 12);
  --color-surface-tint: rgb(115 92 12);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(255 224 140);
  --color-on-primary-container: rgb(88 68 0);
  --color-secondary: rgb(105 93 63);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(242 225 187);
  --color-on-secondary-container: rgb(80 70 42);
  --color-tertiary: rgb(71 102 74);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(201 236 201);
  --color-on-tertiary-container: rgb(48 77 52);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(255 248 241);
  --color-on-background: rgb(31 27 19);
  --color-surface: rgb(255 248 241);
  --color-on-surface: rgb(31 27 19);
  --color-surface-variant: rgb(235 225 207);
  --color-on-surface-variant: rgb(76 70 57);
  --color-outline: rgb(126 118 103);
  --color-outline-variant: rgb(207 197 180);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(52 48 39);
  --color-inverse-on-surface: rgb(248 240 226);
  --color-inverse-primary: rgb(227 195 108);
  --color-primary-fixed: rgb(255 224 140);
  --color-on-primary-fixed: rgb(36 26 0);
  --color-primary-fixed-dim: rgb(227 195 108);
  --color-on-primary-fixed-variant: rgb(88 68 0);
  --color-secondary-fixed: rgb(242 225 187);
  --color-on-secondary-fixed: rgb(35 27 4);
  --color-secondary-fixed-dim: rgb(213 197 161);
  --color-on-secondary-fixed-variant: rgb(80 70 42);
  --color-tertiary-fixed: rgb(201 236 201);
  --color-on-tertiary-fixed: rgb(3 33 11);
  --color-tertiary-fixed-dim: rgb(173 207 174);
  --color-on-tertiary-fixed-variant: rgb(48 77 52);
  --color-surface-dim: rgb(225 217 204);
  --color-surface-bright: rgb(255 248 241);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(251 243 229);
  --color-surface-container: rgb(245 237 223);
  --color-surface-container-high: rgb(240 231 217);
  --color-surface-container-highest: rgb(234 225 212);
}

[data-theme='dark'] {
  --color-primary: rgb(227 195 108);
  --color-surface-tint: rgb(227 195 108);
  --color-on-primary: rgb(61 47 0);
  --color-primary-container: rgb(88 68 0);
  --color-on-primary-container: rgb(255 224 140);
  --color-secondary: rgb(213 197 161);
  --color-on-secondary: rgb(57 47 21);
  --color-secondary-container: rgb(80 70 42);
  --color-on-secondary-container: rgb(242 225 187);
  --color-tertiary: rgb(173 207 174);
  --color-on-tertiary: rgb(25 54 31);
  --color-tertiary-container: rgb(48 77 52);
  --color-on-tertiary-container: rgb(201 236 201);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(22 19 11);
  --color-on-background: rgb(234 225 212);
  --color-surface: rgb(22 19 11);
  --color-on-surface: rgb(234 225 212);
  --color-surface-variant: rgb(76 70 57);
  --color-on-surface-variant: rgb(207 197 180);
  --color-outline: rgb(152 144 128);
  --color-outline-variant: rgb(76 70 57);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(234 225 212);
  --color-inverse-on-surface: rgb(52 48 39);
  --color-inverse-primary: rgb(115 92 12);
  --color-primary-fixed: rgb(255 224 140);
  --color-on-primary-fixed: rgb(36 26 0);
  --color-primary-fixed-dim: rgb(227 195 108);
  --color-on-primary-fixed-variant: rgb(88 68 0);
  --color-secondary-fixed: rgb(242 225 187);
  --color-on-secondary-fixed: rgb(35 27 4);
  --color-secondary-fixed-dim: rgb(213 197 161);
  --color-on-secondary-fixed-variant: rgb(80 70 42);
  --color-tertiary-fixed: rgb(201 236 201);
  --color-on-tertiary-fixed: rgb(3 33 11);
  --color-tertiary-fixed-dim: rgb(173 207 174);
  --color-on-tertiary-fixed-variant: rgb(48 77 52);
  --color-surface-dim: rgb(22 19 11);
  --color-surface-bright: rgb(61 57 47);
  --color-surface-container-lowest: rgb(17 14 7);
  --color-surface-container-low: rgb(31 27 19);
  --color-surface-container: rgb(35 31 23);
  --color-surface-container-high: rgb(45 42 33);
  --color-surface-container-highest: rgb(57 52 43);
}

html,
body {
  @apply bg-surface text-on-surface;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
