---
import SectionTitle from './SectionTitle.astro';

import { content } from '../static-content';
---

<div class="inside-container flex flex-col gap-6">
  <SectionTitle title={content.contactsTitle} />
  <div class="flex flex-col gap-3">
    {
      content.contacts.map((contact) => (
        <div class="flex items-center justify-between">
          <div>{contact.name}</div>
          <a
            href={contact.link}
            target="_blank"
            class="text-on-surface-variant hover:text-on-surface transition"
          >
            {contact.value}
          </a>
        </div>
      ))
    }
  </div>
</div>
