---
import SectionTitle from './SectionTitle.astro';

import { content } from '../static-content';
import GeneralCardText from './GeneralCardText.astro';
---

<div class="inside-container flex flex-col gap-6">
  <SectionTitle title={content.educationTitle} />
  {content.educations.map((education) => <GeneralCardText {...education} />)}
</div>
