---
import SectionTitle from './SectionTitle.astro';
import { content } from '../static-content';
import type { Experience } from '../types/experience';
import ExperienceCard from './ExperienceCard.astro';
---

<div class="inside-container flex flex-col gap-6">
  <SectionTitle title={content.experienceTitle} />
  {content.experiences.map((experience) => <ExperienceCard experience={experience} />)}
</div>
