---
import { content } from '../static-content';
---

<div class="inside-container flex flex-col items-center justify-center text-center">
  <div class="bg-surface-container mb-6 aspect-square w-20 rounded-xl"></div>
  <div class="font-secondary mb-2 text-3xl">{content.fullName}</div>
  <div class="text-on-surface-variant text-xl">{content.currentPosition}</div>
</div>
